<%- include('partials/header') -%>

<h1>Compose</h1>
<div>
    <form action="/compose" method="post">
        <div class="mb-2">
            <label class="form-label fw-bold" for="postTitle">Title</label>
            <input class="form-control" type="text" id="postTitle" name="postTitle">
        </div>

        <div class="mb-2">
            <label class="form-label fw-bold" for="postContent">Post</label>
            <textarea class="form-control" name="postContent" id="postContent" cols="30" rows="10"></textarea>
        </div>
    
        <button class="btn btn-primary" type="submit" name="btnSubmit">Publish</button>
    </form>
</div>

<%- include('partials/footer') -%>